*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    width: 400px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 30px;
}

.title{
    text-align: center;
}

button{
    display: block;
    margin: auto;
    cursor: pointer;
    
}